<app-admin-login></app-admin-login>
<div class="jumbotron">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4>Orders Table </h4>
        <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Username</th>
                <th scope="col">Product Id</th>
                <th scope="col">Product Title</th>
                <th scope="col">Delivery Status</th>
                <th scope="col">Amount</th>
                <th scope="col">Address</th>
                <th scope="col">Modify</th>

               
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of data">
                <th scope="row">{{item._id}}</th>
                <th scope="row">{{item.userId.username}}</th>
                <th scope="row">{{item.products[0].productId._id}}</th>
                <th scope="row">{{item.products[0].productId.title}}</th>
                <th scope="row">{{item.pstatus}}</th>
                <th scope="row">{{item.amount}}</th>
                <th scope="row">{{item.address}}</th>
                <th scope="row"><button type="button" class="btn btn-dark" (click)="modify(item._id)">Delivered</button></th>
              </tr>
             
              
            </tbody>
          </table>
    </div>
</div>
<app-footer></app-footer>